
form .inner-form {
    width: 100%;
    margin-bottom: 17px;
}

button,
input {
  overflow: visible;
}

form .inner-form .input-field {
    height: 70px;
    width: 100%;
    position: relative;
}

form .inner-form .input-field .btn-search {
    width: 70px;    
    position: absolute;
    left: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;    
    justify-content: center;
    align-items: center;
}

form .inner-form .input-field input {
    height: 100%;    
    border: 0;
    background: rgb(203, 230, 248);
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;    
    color: #666;
    border-radius: 34px;
}